
//    Font Family

$primary-font	: 'Poppins', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #1A3C34;
$title-color	: #0f1923;
$text-color		: #555555;

$white			: #fff;
$offwhite		: #f8f5f0;
$black			: #1a1a1a;






